@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
body{
    font-size: 16px;
    color: #111;
    font-family: 'NanumSquare', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.light { font-weight: 200 }
.regular { font-weight: 400 }
.bold { font-weight: 600 }
.exbold	{ font-weight: 800 }

li{
    list-style: none;
}
.row{
    display: flex;
}
.row-center{
    align-items: center;
}
.col-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.w-33{
    width: 33.33%;
}
.container{
    width: 960px;
    margin: auto;
}
img {
    width: 100%;
}

/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;    
    background-color: #fff;
}
.gnb{
    justify-content: space-between;
}
.left-navi{
    padding: 26px 0 20px 40px;
}
.left-menu{
    padding-left: 80px;
}
.left-menu a{
    font-weight: 600;
}
.left-menu li+li{
    margin-left: 40px;
}
.left-menu li{
    margin-top: 2px;
    color: #222222;
    font-weight: 600;
}
.right-navi{
    padding: 25px 40px 0;
}
.right-menu li{
    padding: 0 12px;
    margin-top: 2px;
    font-size: 0.875rem;
    letter-spacing: -1.5px;
    color: #999;
    position: relative;
}
.right-menu li+li::after{
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background: #e9e9e9;
    position: absolute;
    top: 3px;
    margin-left: -10px;
}
.right-menu li:first-child a{
    padding: 7px 12px;
    background-color: #00aa91;
    border-radius: 4px;
    color: #fff;
}
.right-menu li:last-child{
    color: #00aa91;
}
.menu-btn{
    display: none;
}

/* 메인이미지 */
.section01{
    padding-top: 75px;
}
.slide .swiper-slide{
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1{
    background: url('../images/bg_visual_20.jpg');
}
.bg2{
    background: url('../images/bg_visual_22.jpg');
}
.bg3{
    background: url('../images/bg_visual_24.jpg');
}
.mobile-slide{
    display: none;
}
.mobile-slide .swiper-slide img{
    width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    color: rgba(255,255,255,.4);
}

/* 공지사항 */
.notice{
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.noti-area{
    padding: 25px 0;
}
.noti-area .noti{
    font-size: 1.125rem;
}
.noti-area .tit{
    font-size: 1rem;
}
.noti-area span{
    margin-left: 30px;
}
.noti-area a:hover{
    text-decoration: underline;
}

/* 정기배송 */
.Regular-delivery{
    padding: 80px 0;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
}
.Regular-delivery h2{
    font-size: 2rem;
}
.Regular-delivery h3, p{
    letter-spacing: -1px;
}
.Regular-delivery p{
    color: #666;
}
.delivery-img{
    padding: 60px 60px 0;
}
.delivery-text h3{
    padding: 20px 0 15px;
}
.Regular-delivery button{
    background-color: #00aa91;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    margin-top: 50px;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: -1px;
    cursor: pointer;
    font-family: 'NanumSquare';
}
/* 용암수소개 */
.introduction{
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
}
.introduction br{
    display: none;
}
.introduction h2{
    font-size: 2rem;
    padding-top: 80px;
    padding-bottom: 50px;
}
.intro-bg{
    background-image: url('../images/bg_introduction_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* height: 570px; */
    padding-top: 550px;
}
.conts-area{
    position: relative;
}
.dot-ani{
    position: absolute;
    width: 32px;
    height: 32px;
}
.dot-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 171, 107, 0.12);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: effect 1.5s ease-in-out infinite;
}
.dot-bg::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(0, 171, 107, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    animation: effect 1.5s ease-in-out infinite;
}
.dot-ani .dot{
    width: 8px;
    height: 8px;
    background-color: #00e6c6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-top: -4px;
    margin-left: -4px;
    animation: effect 1.5s ease-in-out infinite;
}

/* 푸터 */
footer{
    background: #111;
}
.footer-wrap{
    padding: 35px 15px 50px;
}
.util{
    margin-bottom: 20px;
    color: #fff;
}
.util li{
    font-size: 0.875rem;
    position: relative;
}
.util li+li::before{
    content: "";
    width: 1px;
    height: 14px;
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: -10px;
}
.util a{    
    padding-right: 20px;    
}
.company_info li{
    color: #999;
    font-size: 0.875rem;
    margin-top: 10px;
}
.company_info a{
    text-decoration: underline;
}
.copyright{
    color: #666;
    margin-top: 24px;
    font-size: 0.875rem;
    letter-spacing: normal;
}

@keyframes effect{
    0%{
        opacity: 0;
        transform: scale(.5);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}
.ani01{
    top: 165px;
    left: 515px;
}
.ani02{
    top: 216px;
    left: 440px;
}
.ani03{
    top: 365px;
    left: 460px;
}
.ani04{
    top: 407px;
    left: 515px;
}
.intro-img1,
.intro-img2{
    display: none;
}

/* 링크배너 */
.link_banner{
    padding: 80px 0;
}
.banner_wrap{
    justify-content: space-between;
}
.banner{
    width: 460px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}
.banner a{
    justify-content: space-between;
    padding: 35px 35px 0 35px;
}
.link_banner .text-area{
    width: 70%;
}
.link_banner .tit{
    letter-spacing: -1px;
}
.link_banner .desc{
    margin-top: 20px;
    color: #999;
    line-height: 21px;
}
.link_banner .img-area{
    width: 30%;
}
.img-area>img{
    width: 100%;
}

/* 앱다운 */
.app_down{
    background: url('../images/bg_down.jpg') no-repeat center;
    padding-bottom: 390px;   
}
.app_down .title{
    font-size: 2rem;
    padding-top: 80px;
}
.app_down .title br{
    display: none;
}
.down_btn{
    margin-top: 60px;
}
.btn01{
    margin-right: 30px;
}

/* 미디어쿼리 */
@media(max-width:1025px){
    body {
        overflow-x: hidden;
    }
    /* 헤더 */
    .right-menu{
        background: rgba(0, 176, 179, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;        
        left: 0;        
        margin-left: 1024px;
        transition: all 0.3s;
        z-index: 50;
    }
    .gnb-btn{
        margin-left:0;
    }
    .right-menu li{
        margin: 20px 0;
    }
    .right-menu li+li::after{
        display: none;
    }
    .right-menu li:first-child a{
        background-color: transparent;
    }
    .right-menu a{
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }    
}
@media(max-width:960px){
    .container{
        width: 100%;
    }
    /* 용암수 소개 */
    .intro-bg{
        display: none;
    }
    .intro-img1{
        display: block;
    }
    .dot-ani{
        display: none;
    }
    /* 링크배너 */
    .banner-wrap{
        padding: 0 10px;
    }
    .banner a{
        flex-direction: column;
    }
    .link_banner .text-area {
        width: 100%;
        text-align: center;
    }
    .link_banner .img-area{
        width: 40%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .ban01{
        width: 48%;
    }
    .ban02{
        width: 48%;
    }
}
@media(max-width:769px){
    /* 헤더 */
    .logo{
        width: 200px;
    }
    .left-navi {
        display: block;
        padding: 26px 0 20px 20px;
    }
    .left-menu {
        padding: 0;
        margin-top: 10px; 
        width: 100%;
    }
    .left-menu a{
        font-size: 0.875rem;
        letter-spacing: -1px;
    }
    .menu-btn {
        right: 8px;
    }
    .xi-bars{
        font-size: 2rem;
        margin: 0;
    }    
    /* 메인이미지 */
    .main{
        padding-top: 80px;
    }
    .pc-slide{
        display: none;
    }
    .mobile-slide{
        display: block;
    }
    .mobile-slide .swiper-slide{
        height: auto;
    }
    .mobile-slide img{
        width: 100%;
    }
    /* 공지사항 */
    .noti-area {
        padding: 25px 10px;
    }
    /* 정기배송 */
    .delivery-img {
        padding: 40px 20px 0;
    }
    /* 용암수소개 */
    .introduction h2 {
        padding-top: 80px;
        padding-bottom: 20px;
        line-height: 40px;
    }
    /* 링크배너 */
    .banner_wrap{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        width: 90%;
    }
    .banner a{
        flex-direction: row;
    }
    .link_banner .text-area {
        width: 70%;
        text-align: left;
    }
    .link_banner .img-area{
        width: 30%;
        margin: 0;
        padding: 0;
    }
    .ban02{
        margin-top: 20px;
    }
}
@media(max-width:540px){
    /* 정기배송 */
    .Regular-delivery .row{
        flex-direction: column;
    }
    .Regular-delivery .w-33{
        width: 100%;
    }
    .Regular-delivery img{
        width:70%;
    }
    /* 용암수소개 */
    .intro-img1{
        display: none;
    }
    .intro-img2{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .introduction br{
        display: block;
    }
    /* 링크배너 */
    .banner a{
        flex-direction: column;
    }
    .link_banner .text-area {
        width: 100%;
        text-align: center;
    }
    .link_banner .img-area{
        width: 40%;
        margin: 0 auto;
        padding-top: 30px;
    }
    /* 앱다운 */
    .app_down .title br{
        display: block;
    }
    .app_down {
        padding-bottom: 360px;
    }
}
@media(max-width:415px){
    /* 정기배송 */
    .Regular-delivery h2 {
        font-size: 1.5rem;
    }
    /* 용암수소개 */
    .introduction h2 {
        font-size: 1.5rem;
        line-height: 35px;
    }
    /* 앱다운 */
    .app_down .title {
        font-size: 1.5rem;
    }
    .app_down {
        padding-bottom: 170px;
    }
    .down_btn {
        flex-direction: column;
        align-items: center;
    }
    .btn01 {
        margin: 0;
    }
    .down_btn li a{
        display: inline-block;
    }
    .btn02{
        margin-top: 20px;
    }
}
@media(max-width:375px){
    /* 헤더 */
    .left-navi {
        padding: 10px 0 10px 10px;
    }
    .left-menu li+li {
        margin-left: 20px;
    }
    /* 공지사항 */
    .noti-area {
        padding: 10px;
    }
    .noti-area span {
        margin-left: 18px;
        letter-spacing: -1px;
    }
    /* 정기배송 */
    .Regular-delivery {
        padding: 50px 0;
    }
    .introduction h2 {
        padding-top: 50px;
    }
    /* 링크배너 */
    .link_banner .tit {
        font-size: 1.250rem;
    }
    .banner a {
        padding: 35px 20px 0;
    }
    /* 앱다운 */
    .down_btn {
        flex-direction: column;
    }
}
@media(max-width:280px){
    /* 헤더 */
    .logo {
        width: 160px;
    }
    .left-menu a {
        font-size: 0.813rem;
    }
    .right-navi {
        padding: 0;
    }
    .menu-btn {
        top: 10px;
    }
    .xi-bars {
        font-size: 1.750rem;
        margin: 0;
    }
}

