@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
body{
    font-size: 16px;
    color: #111;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
li{
    list-style: none;
}

.row{
    display: flex;
}
.row-center{
    align-items: center;
}
.col-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.w-33{
    width: 33.33%;
}
.container{
    width: 960px;
    margin: auto;
}
img {
    width: 100%;
}

/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;    
    background-color: #fff;
}
.gnb{
    justify-content: space-between;
}
.left-navi{
    padding: 26px 0 20px 40px;
}
.left-menu{
    padding-left: 80px;
}
.left-menu a{
    font-size: 0.875rem;
}
.left-menu li+li{
    margin-left: 40px;
}
.left-menu li{
    margin-top: 2px;
    color: #222222;
    font-weight: 600;
}
.right-navi{
    padding: 25px 40px 0;
}
.right-menu li{
    padding: 0 12px;
    margin-top: 2px;
    font-size: 0.875rem;
    letter-spacing: -1.5px;
    color: #999;
    position: relative;
}
.right-menu li+li::after{
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background: #e9e9e9;
    position: absolute;
    top: 3px;
    margin-left: -10px;
}
.right-menu li:first-child a{
    padding: 7px 12px;
    background-color: #00aa91;
    border-radius: 4px;
    color: #fff;
}
.right-menu li:last-child{
    color: #00aa91;
}
.menu-btn{
    display: none;
}

/* 메인이미지 */
.section01{
    padding-top: 75px;
}
.slide .swiper-slide{
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1{
    background: url('../images/bg_visual_20.jpg');
}
.bg2{
    background: url('../images/bg_visual_22.jpg');
}
.bg3{
    background: url('../images/bg_visual_24.jpg');
}
.mobile-slide{
    display: none;
}
.mobile-slide .swiper-slide img{
    width: 100%;
}

/* 공지사항 */
.notice{
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.noti-area{
    padding: 25px 0;
}
.noti-area h2,span{
    font-size: 1rem;
}
.noti-area span{
    margin-left: 30px;
}
.noti-area a:hover{
    text-decoration: underline;
}

/* 미디어쿼리 */
@media(max-width:1025px){
    body {
        overflow-x: hidden;
    }
    /* 헤더 */
    .right-menu{
        background: rgba(0, 176, 179, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;        
        left: 0;        
        margin-left: 1024px;
        transition: all 0.3s;
        z-index: 50;
    }
    .gnb-btn{
        margin-left:0;
    }
    .right-menu li{
        margin: 20px 0;
    }
    .right-menu li+li::after{
        display: none;
    }
    .right-menu li:first-child a{
        background-color: transparent;
    }
    .right-menu a{
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }    
}
@media(max-width:960px){
    .container{
        width: 100%;
    }
}
@media(max-width:769px){
    /* 헤더 */
    .logo{
        width: 200px;
    }
    .left-navi {
        display: block;
        padding: 26px 0 20px 20px;
    }
    .left-menu {
        padding: 0;
        margin-top: 10px; 
        width: 100%;
    }
    .left-menu a{
        font-size: 0.875rem;
        letter-spacing: -1px;
    }
    .menu-btn {
        right: 8px;
    }
    .xi-bars{
        font-size: 2rem;
        margin-top: 20px;
    }
    
    /* 메인이미지 */
    .main{
        padding-top: 80px;
    }
    .pc-slide{
        display: none;
    }
    .mobile-slide{
        display: block;
    }
    .mobile-slide .swiper-slide{
        height: auto;
    }
    .mobile-slide img{
        width: 100%;
    }
    /* 공지사항 */
    .noti-area {
        padding: 25px 10px;
    }
}
@media(max-width:375px){
    /* 헤더 */
    .left-navi {
        padding: 10px 0 10px 10px;
    }
    .left-menu li+li {
        margin-left: 20px;
    }
    /* 공지사항 */
    .noti-area {
        padding: 10px;
    }
    .noti-area h2, span {
        font-size: 0.813rem;
    }
    .noti-area span {
        margin-left: 18px;
        letter-spacing: -1px;
    }
}
@media(max-width:280px){
    .logo {
        width: 160px;
    }
    .left-menu a {
        font-size: 0.813rem;
    }
    .right-navi {
        padding: 0;
    }
    .menu-btn {
        top: 10px;
    }
    .xi-bars {
        font-size: 1.750rem;
        margin: 0;
    }
}

